Graph.Client.WPF/Connected Services/GraphService/Graph1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Graph/Graph.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Graph.Model" />
  <xs:import schemaLocation="http://localhost/Graph/Graph.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetGraph">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGraphResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Graph.Model" minOccurs="0" name="GetGraphResult" nillable="true" type="q1:ArrayOfNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortestPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idTo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortestPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetShortestPathResult" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>